{% extends 'homepage/base.html' %}
{% load static%}
{% block content %}
  <video class = "bgvid" src = "{% static 'videos/snake.mp4' %}" autoplay muted loop></video>
  <body class = "text-center text-white bg-dark">
    <div class="cover-container d-flex w-100 h-100 p-3 mx-auto flex-column" style = "min-height: 0;">
      <header class="mb-auto">
        <div>
          <img class="float-md-start mb-0 navbarlogo" src = "{% static 'images/logo.png' %}"></img>
          <nav class="nav nav-masthead justify-content-center float-md-end">
            <a class="nav-link active" aria-current="page" href="#">Home</a>
            <a class="nav-link" href="https://github.com/mhus04/DjangoSocialMedia">GitHub</a>
          </nav>
        </div>
      </header>
      

      <div class = "overlay">
        <main class="px-3">
         <h1>Ophidia</h1>
         <p class="lead">Ophidia is a social networking web application made with HTML, CSS, Javascript, the Bootstrap framework and Django to serve as Mustaq Hussain's artefact for his Extended Project Qualification. Please sign up or log in if you have done so yet :)</p>
         <p class="lead">
            <a href="accounts/login" class="btn btn-lg btn-secondary fw-bold border-white bg-white text-black" style = "margin-right:5px">Log In</a>
            <a href="accounts/signup" class="btn btn-lg btn-secondary fw-bold border-white bg-white text-black">Sign Up</a>
          </p>
       </main>
    
     </div>
    </div>
  </body>
  
{% endblock content %}