.btn-secondary,
.btn-secondary:hover,
.btn-secondary:focus {
  color: #333;
  text-shadow: none;
}

.cover-container {
  max-width: 42em;
}

.nav-masthead .nav-links {
  padding: .25rem 0;
  font-weight: 700;
  color: rgba(255, 255, 255, .5);
  background-color: transparent;
  border-bottom: .25rem solid transparent;
  text-decoration: none;
}

.nav-masthead .nav-links:hover,
.nav-masthead .nav-links:focus {
  border-bottom-color: rgba(255, 255, 255, .25);
}

.nav-masthead .nav-links + .nav-links {
  margin-left: 1rem;
}

.nav-masthead .active {
  color: #fff;
  border-bottom-color: #fff;
}

.bgvid {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  object-fit: cover;
  opacity: 50%;
  z-index: -1;
}

.overlay {
  min-height: 93.25vh;
  display: flex;
  align-items: center;
}

.landinglogo {
  height: 20%;
  width: 20%;
}

.navbarlogo {
  height: 6%;
  width: 6%;
}

