{% extends 'homepage/base.html' %}
{% block content %}
<div class = "container mb-5">
    <div class = "row justify-content-center mt-3">
        <div class = "col-md-5 col-sm-23 border-bottom">
            <h5>Inbox</h5>
        </div>
    </div>

    <div class = "row justify-content-center mt-3 mb-5">
        <div class = "col-md-5 col-sm-23">
            <form method = "GET" action = "{% url 'create-thread' %}">
                <div class = "d-grid gap-2">
                    <button class = "btn btn-outline-primary" type = "submit">Create a new message thread &raquo;</button>
                </div>
            </form>
        </div>
    </div>

    {% for thread in threads.all %}
    <div class = "row justify-content-center mt-3">
        <div class = "col-md-5 col-sm-23 border-bottom">
            <p><strong>
                {% if thread.name %}
                {{ thread.name }}
                {% else %}
                {{ thread.user }} - {{ thread.receiver }}
                {% endif %}
            </strong></a>
            <a class = "fa fa-commenting" style = "color: #296efd; text-decoration: none; margin-left: 1%;" href = "{% url 'thread' thread.pk %}"></a>
        </div>
    </div>
    {% endfor %}
</div>






{% endblock content %}