{% extends 'homepage/base.html'%}
{% load crispy_forms_tags %}

{% block content %}
<div class = "container">
    <div class = "row justify-content-center mt-3">
        <div class = "col-md-5 col-sm-23 border-bottom">
            <h5>Social Feed</h5>
        </div>
    </div>

    <div class = "row justify-content-center mt-3 mb-5">
        <div class = "col-md-5 col-sm-23 border-bottom">
            <form method = "POST">
                {% csrf_token %}
                {{ form|crispy }}
                <div class = "d-grid gap-2">
                    <button class="btn btn-outline-primary">Submit Post &raquo;</button>
                </div>
            </form>
        </div>
    </div>

    {% for post in post_list %}
    <div class = "row justify-content-center mt-3">
        <div class = "col-md-5 col-sm-23 border-bottom">
            <p><strong>{{ post.author }}</strong> {{ post.created_on }}<br>
                {% if request.user == post.author %}
                    <a class="fas fa-edit" href = "{% url 'post-edit' post.pk %}" style = "text-decoration: none; color: #296efd;"></a>
                    <a class="fas fa-trash" href = "{% url 'post-delete' post.pk %}" style = "text-decoration: none; color: #296efd;"></a>
                {% endif %}
                    <a class = "fas fa-comment" href = "{% url 'post-detail' post.pk %}" style = "text-decoration: none; color: #296efd;"></a>
            </p> 
            
            <p>{{ post.body }}</p>
        </div>
    </div>
    {% endfor %}
</div>
{% endblock content %}
