{% extends 'homepage/base.html'%}
{% load crispy_forms_tags %}

{% block content %}
<div class = "container">
    <div class = "row mt-5">
        <div class = "col-md-6 col-sm-6">
            <a class = "btn btn-outline-primary" href = "{% url 'post-list' %}">Back to Feed</a>
        </div>
    </div>

    <div class = "row justify-content-center mt-3">
        <div class = "col-md-6 col-sm-23 border-bottom">
            {% if request.user == post.author %}
                <p style = "color: #526ccc;">@<strong>{{ post.author }}</strong></a>
                <a class="fas fa-edit" href = "{% url 'post-edit' post.pk %}" style = "text-decoration: none; color: #526ccc; padding-left: 1%;"></a>
                <a class="fas fa-trash" href = "{% url 'post-delete' post.pk %}" style = "text-decoration: none; color: #526ccc;"></a>
                <br>{{ post.created_on }}
            {% else %}
            <p><a style = "text-decoration: none; margin-right: 1%; color: #526ccc;" href = "{% url 'profile' post.author.profile.pk %}">@<strong>{{ post.author }}</strong></a><br>{{ post.created_on }}
            {% endif %}
            <div class = "d-flex flex-row">
                <form method = "POST" action = "{% url 'like' post.pk %}">
                    {% csrf_token %}
                    <input type = "hidden" name = "next" value = "{{ request.path }}">
                    <button class = "fas fa-thumbs-up" style = "background-color: transparent; border: none; box-shadow: none; color: #526ccc;"></button>
                    <strong>{{ post.likes.all.count }}</strong>
                </form>
                <form method = "POST" action = "{% url 'dislike' post.pk %}" style = "padding-left: 1%;">
                    {% csrf_token %}
                    <input type = "hidden" name = "next" value = "{{ request.path }}">
                    <button class = "fas fa-thumbs-down" style = "background-color: transparent; border: none; box-shadow: none; color: #526ccc;"></button>
                    <strong>{{ post.dislikes.all.count }}</strong>
                </form>
            </div>
            <p>{{ post.body }}</p>
        </div>
    </div>

    <div class = "row justify-content-center mt-3 mb-5">
        <div class = "col-md-6 col-sm-12">
            <form method = "POST">
                {% csrf_token %}
                {{ form|crispy }}
                <div class = "d-grid gap-2">
                    <button class="btn btn-outline-primary">Submit Comment &raquo;</button>
                </div>
            </form>
        </div>
    </div>
    {% for comment in comments %}
    <div class = "row justify-content-center mt-3">
        <div class = "col-md-6 col-sm-23 border-bottom">
            {% if request.user == comment.author %}
                <p>@<strong>{{ comment.author }}</strong></a>
                <a class="fas fa-trash" href = "{% url 'comment-delete' post.pk comment.pk %}" style = "text-decoration: none; color: #526ccc; padding-left: 1%;"></a>
                <br>{{ comment.created_on }}
            {% else %}
            <p><a style = "text-decoration: none; margin-right: 1%; color: 526ccc;" href = "{% url 'profile' post.author.profile.pk %}">@<strong>{{ comment.author }}</strong></a><br>{{ comment.created_on }}
            {% endif %}
            <p>{{ comment.comment }}</p>
        </div>
    </div>
    {% endfor %}
</div>
{% endblock content %}