{% extends 'homepage/base.html'%}
{% load crispy_forms_tags %}

{% block content %}
{% if user.profile.name %}
<div class = "container">
    <div class = "row justify-content-center mt-3">
        <div class = "col-md-5 col-sm-23 border-bottom">
            <h5>Social Feed</h5>
        </div>
    </div>

    <div class = "row justify-content-center mt-3 mb-5">
        <div class = "col-md-5 col-sm-23 border-bottom">
            <form method = "POST">
                {% csrf_token %}
                {{ form|crispy }}
                <div class = "d-grid gap-2">
                    <button class="btn btn-outline-primary">Submit Post &raquo;</button>
                </div>
            </form>
        </div>
    </div>

    {% for post in post_list %}
    <div class = "row justify-content-center mt-3">
        <div class = "col-md-5 col-sm-23 border-bottom">
            {% if request.user == post.author %}
                <p>@<strong>{{ post.author }}</strong></a> {{ post.created_on }}<br>
                    <a class="fas fa-edit" href = "{% url 'post-edit' post.pk %}" style = "text-decoration: none; color: #296efd;"></a>
                    <a class="fas fa-trash" href = "{% url 'post-delete' post.pk %}" style = "text-decoration: none; color: #296efd;"></a>
            {% else %}
            <p><a style = "text-decoration: none; margin-right: 1%; color: 296efd;" href = "{% url 'profile' post.author.profile.pk %}">@<strong>{{ post.author }}</strong></a> {{ post.created_on }}<br>
            {% endif %}
                    <a class = "fas fa-comment" href = "{% url 'post-detail' post.pk %}" style = "text-decoration: none; color: #296efd;"></a>
            </p>
            
            <p>{{ post.body }}</p>
        </div>
    </div>
    {% endfor %}
</div>
{% else %}
<meta http-equiv="refresh" content="0; url = {% url 'profile-edit' user.profile.pk %}" />
{% endif %}
{% endblock content %}
