{% extends 'homepage/base.html'%}

{% block content %}
{% if profile.name %}
<div class = "container">
    <div class = "row mt-5">
        <div class = "col-md-3 col-sm-6">
            <a href = '{% url "post-list" %}' class = 'btn btn-outline-primary'>Back to Feed</a>
        </div>
    </div>

    <div class = "row justify-content-center mt-5">
        <div class="p-3 mb-4 bg-light col-md-8 col-sm-12 shadow-sm px-5 pt-3" style = "border-radius: 3%;">
            <div class="container-fluid py-5">
              <img src = '{{ profile.picture.url }}' class = 'rounded-circle shadow-sm' width = '15%' height = '15%'></img>
              <h1 class="display-5 fw-bold mt-3">{{ profile.name }}
                  <span>
                      {% if request.user == user %}
                        <a href = '{% url "profile-edit" profile.pk %}' class = 'fas fa-edit' style = 'color: #296efd; text-decoration: none; margin-left: 1%;'></a>
                      {% endif %}
                  </span>
              </h1>
              <p><strong>Followers</strong>: {{number_of_followers}}</p>
              {% if profile.location %}
              <strong>Location:</strong> {{ profile.location }}
              <br>
              {% endif %}
              
              {% if profile.birth_date %}
              <strong>Date of Birth:</strong> {{ profile.birth_date }}
              <br><br>
              {% endif %}
              
              {% if profile.bio %}
              <strong>Profile Bio:</strong> {{ profile.bio }}
              <br>
              {% endif %}

              
              {% if request.user != user %}
              {% if is_following %}
              <form method = "POST" action = "{% url 'remove-follower' profile.pk %}">
                {% csrf_token %}
                <button class="btn btn-outline-danger mt-3" type="submit">Unfollow</button>
              </form>
              {% else %}
              <form method = "POST" action = "{% url 'add-follower' profile.pk %}">
                {% csrf_token %}
                <button class="btn btn-outline-primary mt-3" type="submit">Follow</button>
              </form>
              {% endif %}
              {% endif %}
            </div>

            
        </div>

    
    <div style = "margin-bottom: 10%;">
        <div class = "row justify-content-center mt-5">
            <div class = "col-md-8 col-sm-12 border-bottom position-relative">
                <h1 class="display-5 fw-bold mt-3">Post History:</h1>
            </div>
        </div>
    
        {% for post in posts %}
        <div class = "row justify-content-center mt-3">
            <div class = "col-md-8 col-sm-12 border-bottom">
                {% if request.user == post.author %}
                    <p>@<strong>{{ post.author }}</strong></a>
                    <a class="fas fa-edit" href = "{% url 'post-edit' post.pk %}" style = "text-decoration: none; color: #296efd; padding-left: 1%;"></a>
                    <a class="fas fa-trash" href = "{% url 'post-delete' post.pk %}" style = "text-decoration: none; color: #296efd;"></a>
                    <br>{{ post.created_on }}
                {% else %}
                <p><a style = "text-decoration: none; margin-right: 1%; color: 296efd;" href = "{% url 'profile' post.author.profile.pk %}">@<strong>{{ post.author }}</strong></a><br>{{ post.created_on }}
                {% endif %}
                <div class = "d-flex flex-row">
                    <form method = "POST" action = "{% url 'like' post.pk %}">
                        {% csrf_token %}
                        <input type = "hidden" name = "next" value = "{{ request.path }}">
                        <button class = "fas fa-thumbs-up" style = "background-color: transparent; border: none; box-shadow: none; color: #296efd;"></button>
                        <strong>{{ post.likes.all.count }}</strong>
                    </form>
                    <form method = "POST" action = "{% url 'dislike' post.pk %}" style = "padding-left: 1%;">
                        {% csrf_token %}
                        <input type = "hidden" name = "next" value = "{{ request.path }}">
                        <button class = "fas fa-thumbs-down" style = "background-color: transparent; border: none; box-shadow: none; color: #296efd;"></button>
                        <strong>{{ post.dislikes.all.count }}</strong>
                    </form>
                </div>
                <p>{{ post.body }}</p>
                <a class = "fas fa-comment" href = "{% url 'post-detail' post.pk %}" style = "text-decoration: none; color: #296efd;"></a></p>
            </div>
        </div>
        {% endfor %} 
    </div>
</div>



{% else %}
<meta http-equiv="refresh" content="0; url = {% url 'profile-edit' user.profile.pk %}" />
{% endif %}
{% endblock content %}
