{% extends 'homepage/base.html' %}
{% block content %}
<div class = "container">
    <div class = "row justify-content-center mt-3">
        <div class = "col-md-5 col-sm-12 border-bottom position-relative">
            <h1 class="display-5 fw-bold mt-3">Search for '{{ query }}'</h1>
        </div>
    </div>
    {% for profile in profile_list %}
    <div class = "row justify-content-center mt-3">
        <div class = "col-md-5 col-sm-12 border-bottom position-relative">
            <p><a style = "text-decoration: none; margin-right: 1%; color: 296efd;" href = "{% url 'profile' profile.pk %}">@<strong>{{ profile.user }}</strong></a></p>
            
            <p><strong>Name:</strong> {{profile.name}}<br>
            <strong>Followers:</strong> {{ profile.followers.all.count }}
            {% if profile.location %}
            <br><strong>Location:</strong> {{ profile.location }}
            {% endif %}
            {% if profile.birth_date %}
            <br><strong>Date of Birth:</strong> {{ profile.birth_date }}
            {% endif %}
        </div>
    </div>
    {% endfor %}
</div>
{% endblock content %}