{% extends 'homepage/base.html'%}
{% load crispy_forms_tags %}

{% block content %}
<div class = "container">
    <div class = "row mt-5">
        <div class = "col-md-5 col-sm-6">
            <a class = "btn btn-outline-primary" href = "{% url 'thread' object.pk %}">Back to Thread</a>
        </div>
    </div>

    <div class = "row justify-content-center mt-3">
        <div class = "col-md-5 col-sm-23 border-bottom">
            <h5>Edit Thread Name</h5>
        </div>
    </div>

    <div class = "row justify-content-center mt-3 mb-5">
        <div class = "col-md-5 col-sm-23 border-bottom">
            <form method = "POST">
                {% csrf_token %}
                {{ form|crispy }}
                <div class = "d-grid gap-2">
                    <button class="btn btn-outline-primary">Edit &raquo;</button>
                </div>
            </form>
        </div>
    </div>
</div>

{% endblock content %}