{% extends "account/base.html" %}

{% load i18n %}
{% block head_title %}{% trans "Sign Out" %}{% endblock %}

{% block content %}
<div class="row justify-content-center" style = "margin-top: 12%;">
  <div class = "col-md-6 col-sm-12">
    <h1 style = "text-align: center;">{% trans "Sign Out" %}</h1>

    <p style = "text-align: center;">{% trans 'Are you sure you want to sign out?' %}</p>

    <form method="post" action="{% url 'account_logout' %}">
      {% csrf_token %}
      {% if redirect_field_value %}
      <input type="hidden" name="{{ redirect_field_name }}" value="{{ redirect_field_value }}"/>
      {% endif %}
      <div class = "d-grid gap-2">
        <button class="mt-3 btn btn-outline-primary primaryAction" type="submit">{% trans "Sign Out" %} &raquo;</button>
      </div>
    </form>
  </div>
</div>

{% endblock %}
