{% extends "account/base.html" %}

{% load i18n %}

{% block head_title %}{% trans "Verify Your E-mail Address" %}{% endblock %}

{% block content %}
    <div class="row justify-content-center" style = "margin-top: 12%;">
        <div class = "col-md-6 col-sm-12">
            <h1 style = "text-align: center;">{% trans "Verify Your E-mail Address" %}</h1>

            <p style = "text-align: center;">{% blocktrans %}We have sent an e-mail to you for verification. Follow the link provided to finalize the signup process. If you do not see the verification e-mail in your main inbox, check your spam folder. Please contact us if you do not receive the verification e-mail within a few minutes.{% endblocktrans %}</p>
        </div>
    </div>
{% endblock %}
